.pegatudo{
    background-color: rgb(251, 147, 164);
    margin: 10% 36%;
    padding: 10px 10px 10px 7.5%;

}
.main{
    background-color: aqua;
    padding: 10px 43%;
    border-left: 1px solid #000;
}
body{
    margin: 0%;
}
.botao{
    margin:10px 0px 0px 22px;
    padding: 0px 20px 0px 20px;
    background-color: black;
}
.botaol{
    color: white;
}
.rodape{
    background-color: aqua;
    margin: 10% 0% 0% 0%;
    padding: 5px 0% 5px 42%;
}
@media screen and (max-width: 600px){
.pegatudo{
    background-color: rgb(251, 147, 164);
    margin: 10% 10%;
    padding: 10px 27%;

}
h1{
    font-size: 20px;
}
input{
    height: 20px;
    width: 150px;
}
.main{
    background-color: aqua;
    padding: 10px 40%;
    border-left: 1px solid #000;
}
body{
    margin: 0%;
}
.botao{
    margin:10px 0px 0px 20px;
    padding: 0px 15px;
    background-color: black;
}
.botaol{
    color: white;
}
.rodape{
    background-color: aqua;
    margin: 94% 0% 0% 0%;
    padding: 5px 0% 5px 40%;
}
}